<div class="container">
    <h1>PPP Filtrados</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Estudiante</th>
          <th>Empresa</th>
          <th>Código Estudiante</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ppp of pppList">
          <td>{{ ppp.nombreEstudiante }}</td>
          <td>{{ ppp.nombreEmpresa }}</td>
          <td>{{ ppp.codigoEstudiante }}</td>
          <td>
            <span 
              [ngClass]="{
                'estado-pendiente': ppp.estadoPPP === 1,
                'estado-aceptado': ppp.estadoPPP === 3,
                'estado-rechazado': ppp.estadoPPP === 4
              }">
               {{ ppp.estadoPPP === 1 ? 'Pendiente' : ppp.estadoPPP === 3 ? 'Aceptado' : 'Rechazado' }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  