<div class="container">
    <h1>Solicitudes de PPP</h1>
  
    <!-- Barra de búsqueda y filtros -->
    <div class="search-bar">
      <input type="text" placeholder="Buscar estudiante..." [(ngModel)]="searchTerm" />
      <button class="filter-btn"><i class="fa fa-filter"></i></button>
    </div>
  
    <!-- Listado de solicitudes -->
    <div class="ppp-list">
      <div *ngFor="let ppp of filteredPPPs" class="ppp-item">
        <div class="ppp-details">
          <p><strong>Estudiante:</strong> {{ ppp.matricula.estudiante.persona.nombre }} {{ ppp.matricula.estudiante.persona.apepat }} {{ ppp.matricula.estudiante.persona.apemat }}</p>
          <p><strong>Empresa:</strong> {{ ppp.empresa.nombre }}</p>
          <p><strong>Linea de Trabajo:</strong> {{ ppp.linea_carrera.nombre }}</p>
          <p>
            <strong>Estado:</strong>
            <span [ngClass]="{
              'estado-pendiente': ppp.estado === 0,
              'estado-completado': [1, 3, 4, 5, 6, 7, 8, 9].includes(ppp.estado),
              'estado-rechazado': ppp.estado === 2
            }">
              {{  ppp.estado === 2 ? 'Rechazado' : [1, 3, 4, 5, 6, 7, 8, 9].includes(ppp.estado) ? 'Completado' : 'Pendiente' }}
            </span>
          </p>
        </div>
        <div class="ppp-actions">
          <button class="generate-btn" [routerLink]="['/crear-carta-presentacion', ppp.id]">GENERAR</button>
        </div>
      </div>
    </div>
  </div>
  
