<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #001c48;">

  <div class="container-fluid">
    <!-- Botón para contraer/expandir el sidebar -->
    <button class="bg-transparent border-0" (click)="toggleSidebar()">
      <i class="pi pi-bars menu-icon" style="font-size: 2rem;"></i>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">


        <li class="nav-item">
          <img src="lamb-logo-white.svg" alt="Tu Logo" width="88" height="82">
        </li>
      </ul>

      <ul class="navbar-nav ms-auto" style="margin-right: 60px;">
        <li class="nav-item">
          <div class="nav-link d-flex align-items-center">
            <i class="pi pi-th-large grid-icon me-4" style="font-size: 2rem; color: white;"></i> 
            <div style="width: 50px; height: 50px; border-radius: 50%; background-color: white; display: flex; align-items: center; justify-content: center;">
              <i class="pi pi-user" style="font-size: 2rem; color: #001c48;"></i> 
            </div>
            <div class="ms-3 text-white">
              <p class="mb-0" style="font-size: 0.8rem;">Practicante</p>
              <p class="mb-1">Practicante 000</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>
